<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "HTML5 Boilerplate" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/main.css">
        <%= stylesheet_link_tag "self" %>

        <script src="js/vendor/modernizr-2.6.1.min.js"></script>


    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <%= yield %>

         <script type="text/javascript" src="form/js/jquery-1.9.1.min.js"></script>
        <script src="js/foundation.min.js"></script>

   
    <script type="text/javascript" src="form/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="form/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="form/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="form/js/smart-form.js"></script>   

        <script src="js/main.js"></script>
        <script>
          $(document).foundation();
        </script>
        <!-- TYPEKIT -->
        <script src="//use.typekit.net/fgh0kur.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
