

@font-face {
    font-family: 'texgyrepagellaregular';
    src: url('../css/texgyrepagella-regular-webfont.eot');
    src: url('../css/texgyrepagella-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/texgyrepagella-regular-webfont.woff2') format('woff2'),
         url('../css/texgyrepagella-regular-webfont.woff') format('woff'),
         url('../css/texgyrepagella-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.nolist {list-style-type: none;}

.section .option {margin-bottom:0.9rem;}
.section .option span {color: #8C969D; }
.state-error { color: #e04a4a; display: block; position: relative; margin-bottom:20px;}
.grey {color: #8C969D;}



// COLORS
$primary: #006F3D;
$primary-light: #8c969d;
$grey: #8C969D;
$grey-light: #eee;
$white: #fff;
.neu {color: #8C969D; margin-top:2rem;  font-weight: bold; text-transform: uppercase; margin-bottom: 2rem;}
.speise {-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75); border: 5px solid #fff; margin-top: 20px; margin-bottom:5px;}
// FONTS
.defaultfont {font-family: "myriad-pro",sans-serif; font-weight: 400;}
.boldfont {font-family: "myriad-pro",sans-serif; font-weight: 700;}
.headlinefont {font-family: "texgyrepagellaregular",serif; font-weight: 400; text-transform: uppercase;}
h1, h2 {@extend .headlinefont; margin-bottom: 2rem;}
h3 {font-size: 1rem; color: $primary; @extend .defaultfont;}
body {@extend .defaultfont;  
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

// SPACES
.pspace {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.ptspace {
	padding-top: 6rem;
}
.mspace { margin-bottom: 3rem;}
.mtspace {margin-top: 3rem;}
.stoerer { display: block; position: absolute; margin-top: -107px; right: 10%;-moz-transform: rotate(7deg);
-ms-transform: rotate(7deg);
-o-transform: rotate(7deg);
-webkit-transform: rotate(7deg);;
}

// HEADER
header {
	background-image: url("../img/header_bg.jpg"); background-position: center top; background-repeat: no-repeat; height: 370px; background-color:$primary-light;
	.logo {padding-top: 50px;}
}


// NAVI
nav {
	background-color: $primary;	
	padding: 1rem;
	text-align: center;
		ul {margin: 0px; padding: 0px;
			li {display: inline-block;}
		}
		a {	color: $white; padding-left: 1rem; padding-right: 1rem; text-transform: uppercase; @extend .headlinefont; letter-spacing: 1px;
			&:hover {color: $white;}
		}		
	}


// SELECTION
section	{
	text-align: center;  
	border-bottom: 1px solid #eee;
	@extend .pspace;
	@extend .defaultfont;
		&:first-of-type {background-color: #fff;  background-image: url("../img/bg.png"); 
			background-position: top center; background-repeat: no-repeat;
			
		}
		.lead {}
		p { color: $grey;}
	}
.alert-success p {color: #4ea87c;}
.colm small {
  font-size: 13px; color: $primary; text-transform: none;
}
.angebot {
padding: 10px; margin-top: 1rem;
  span {font-size: 23px;}
}
// ACCORDION

.accordion .accordion-navigation > a, .accordion dd > a{
	outline: 0;
	background: transparent; 
	&:hover {background: transparent; }
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
	 background: transparent;
}

// FORMS
.form {
	.top {margin-bottom: 0.5rem; font-size: 0.75rem; white-space: nowrap;}
	.small {font-size: 0.75rem; white-space: nowrap;}
	span {display: block;}
	input[type="checkbox"] {margin-bottom: 0.5rem;}

	:checked + label {
	    font-weight: 700;
	    color: $primary;
	}
}

textarea {height: 4.3125rem;width: 100%;}
input[disabled] {cursor: default;}
input[disabled] + label { color: #ccc;}

// FOOTER
footer {color: $grey-light; text-align: center;
		> .footer {background-color: $grey; @extend .pspace;}
		> .gmap {height: 230px; overflow: hidden;}
		address { 
			margin-top: 1rem;
			font-style: normal;
			strong {color: $primary;}
		}
	}


// MEDIAQUERIES
@media only screen and (max-width: 40em) { 
	.mobile-mtspace {margin-top: 3rem;}
	p.lead { font-size: 1.1rem;}
} 
