---
title: Glück, Satt & Co.
---



	<header>
		<div class="container">
			<div class="row">
				<div class="logo text-center">
					<% link_to 'http://www.gluecksattco.de' do %>
							<%= image_tag 'logo.png', :alt => 'Glück, Satt & Co.' %> 
					<% end %>
				</div>
			</div>
		</div>
	</header>

	
	
	

	<section>
		<div class="container">
			<div class="row">
				<div class="small-12 small-offset-0 medium-offset-1 medium-10 columns">
					<h2 id="uns">Fehler</h2>
					<p class="lead">					
 						Es ist ein Fehler aufgetreten. <br>
 						Bitte Versuchen Sie nochmals das Formular abzuschicken.<br>

 						
					</p>
					
					<p>
					<%= link_to 'Zurück zur Anfrage', 'index.html', class: 'button' %>
</p>


				</div>
			</div>
		</div>
	</section>
	
	



	<footer>
		<div class="container">
			<div class="row">
				<div class="small-12 medium-offset-1 medium-10 ptspace">
					<h2 id="kontakt">Kontakt</h2>
				</div>
			</div>
		</div>
		<div class="gmap">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2593.9275089700923!2d11.0874658!3d49.448087099999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479f57a1cc19d715%3A0x5b22d00bff223db5!2sMarienstra%C3%9Fe+14%2C+90402+N%C3%BCrnberg!5e0!3m2!1sde!2sde!4v1417957062130" width="100%" height="230" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="container footer">			
			<div class="row">
				<%= image_tag 'icon.png', :alt => 'Glück, Satt & Co.' %> 
				<address>
					<strong>Green Smoothies & Health Food</strong><br>
					von Mo-Sa, 11 bis 20 Uhr ständig frisch zubereitet <br>in der Marienstrasse 14, 90402 Nürnberg<br>
					Telefon: 0175/381 42 89 / E-Mail: <%= link_to 'info@glücksattundco.de', 'mailto:info@glücksattundco.de', target: '_blank', class: 'sbutton' %>	<br>					
						Steuernummer: 240/228/50780 / USt-IdNr.: 50 354 679 121
				</address>
				<p><br><%= image_tag 'fb.gif', :alt => 'Glück, Satt & Co. Facebook Seite' %> <%= link_to 'Folge uns auf Facebook', '#', target: '_blank' %></p>
			</div>
		</div>
	</footer>

