---
title: Glück, Satt & Co.
---



    <header>
        <div class="container">
            <div class="row">
                <div class="logo text-center">
                    
                                <%= image_tag 'logo.png', :alt => 'Glück, Satt & Co.' %> 
                   
                                </div>
            </div>
        </div>
    </header>

    
    
    

    <div class="angebot">
      <div class="text-center">
      <p>
   <span>Wir schließen unseren Laden</span><br> Wir bedanken uns bei allen Gästen für die schöne Zeit. 
      </p>
      </div>
    </div>


    











    



  
